<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./task.css">
    <title>Document</title>
</head>
<body>

    <form class="task-form">
        <h4>Task Manger</h4>

        <div class="from-control">
            <input type="text" name="name" class="task-input" >
            <button 
            type="submit" 
            class="btn submit-btn"
            >
            submit
            </button>
        </div>

        <div class="form-alert">
            Error, Please Try Again
        </div>
    </form>


    <section class="from-task-control">

        <article class="tasks">
        <!--    <div class="single-task">
                <h5>
                    <i class="far fa-check-circle check-mark"></i>
                    <p>John Smilga</p>
                </h5>

                <div class="task-links">
                    <a href="#" class="edit-link">
                        <i class="fas fa-edit"></i>
                    </a>

                    <button type="button" class="delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>

            <div class="single-task">
                <h5>
                    <i class="far fa-check-circle check-mark"></i>
                    <p>Kyle</p>
                </h5>

                <div class="task-links">
                    <a href="#" class="edit-link">
                        <i class="fas fa-edit"></i>
                    </a>

                    <button type="button" class="delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>

            <div class="single-task">
                <h5>
                    <i class="far fa-check-circle check-mark"></i>
                    <p>Free Code Camp</p>
                </h5>

                <div class="task-links">
                    <a href="#" class="edit-link">
                        <i class="fas fa-edit"></i>
                    </a>

                    <button type="button" class="delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>

        </article> -->
    </section>

    


    <script src="https://kit.fontawesome.com/dcadbf7b72.js" crossorigin="anonymous"></script>
    <script src="./task-browser.js"></script>
</body>
</html>